$color-white: #fff;
$color-blue: #4dc4e3;

//width
$container-sm: 576px;
$container-sm-number: 576;
$container-md: 738px;
$container-md-number: 738;
$container-lg: 970px;
$container-lg-number: 970;
$container-xl: 1025px;
$container-xl-number: 1025;

//grid size
$screen-xs: 0;
$screen-xs-min: $screen-xs;
$screen-sm: 576px;
$screen-sm-min: $screen-sm;
$screen-md: 768px;
$screen-md-min: $screen-md;
$screen-lg: 992px;
$screen-lg-min: $screen-lg;
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

//grid size max
$screen-sm-max: ($screen-md - 1);
$screen-md-max: ($screen-lg - 1);
$screen-lg-max: ($screen-xl - 1);

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;